
.person{
  width: calc(1920 * var(--pv));
  height: calc(1080 * var(--pv));
  overflow: hidden;
}
.person-big {
  position: relative;
  width:100%;
  height: 100%;
}

@media (max-width: 1680px) {
  .person-big{
    width:1680px;
    height: 1080px;
  }
}

@media (max-width: 1440px) {
  .person-big{
    width:1440px;
    height: 1080px;
  }
}

@media (max-width: 1024px) {
  .person-big{
    width:1024px;
    height: 1080px;
  }
}

@media (max-width: 768px){
  .person-big{
    width:768px;
    height: 812px;
  }
}
@media (max-width: 450px){
  .person-big{
    width:450px;
    height: 812px;
  }
}
@media (max-width: 440px){
  .person-big{
    width:440px;
    height: 812px;
  }
}
@media (max-width: 430px){
  .person-big{
    width:425px;
    height: 812px;
  }
}
@media (max-width: 425px){
  .person-big{
    width:425px;
    height: 812px;
  }
}
@media (max-width: 420px){
  .person-big{
    width:420px;
    height: 812px;
  }
}
@media (max-width: 415px){
  .person-big{
    width:415px;
    height: 812px;
  }
}
@media (max-width: 410px){
  .person-big{
    width:410px;
    height: 812px;
  }
}
@media (max-width: 400px){
  .person-big{
    width:400px;
    height: 812px;
  }
}

@media (max-width:395px) {
  .person-big{
    width:395px;
    height: 812px;
  }
}
@media (max-width:390px) {
  .person-big{
    width:390px;
    height: 812px;
  }
}
@media (max-width:380px) {
  .person-big{
    width:380px;
    height: 812px;
  }
}

@media (max-width:375px) {
  .person-big{
    width:375px;
    height: 812px;
  }
}


/* person */

.person {
  width: 1920px;
  height: 1080px; 
  position: relative;
}

@media (max-width: 1680px) {
  .person{
    width:1680px;
    height: 1080px;
  }
}

@media (max-width: 1440px) {
  .person{
    width:1440px;
    height: 1080px;
  }
}

@media (max-width: 1024px) {
  .person{
    width:1024px;
    height: 1080px;
  }
}

@media (max-width: 768px){
  .person{
    width:768px;
    height: 812px;
  }
}
@media (max-width: 450px){
  .person{
    width:450px;
    height: 812px;
  }
}
@media (max-width: 440px){
  .person{
    width:440px;
    height: 812px;
  }
}
@media (max-width: 430px){
  .person{
    width:430px;
    height: 812px;
  }
}
@media (max-width: 425px){
  .person{
    width:425px;
    height: 812px;
  }
}
@media (max-width:420px) {
  .person{
    width:420px;
    height: 812px;
  }
}
@media (max-width:415px) {
  .person{
    width:415px;
    height: 812px;
  }
}
@media (max-width:410px) {
  .person{
    width:410px;
    height: 812px;
  }
}
@media (max-width:400px) {
  .person{
    width:400px;
    height: 812px;
  }
}
@media (max-width:395px) {
  .person{
    width:395px;
    height: 812px;
  }
}
@media (max-width:390px) {
  .person{
    width:390px;
    height: 812px;
  }
}
@media (max-width:380px) {
  .person{
    width:380px;
    height: 812px;
  }
}
@media (max-width:375px) {
  .person{
    width:375px;
    height: 812px;
  }
}



.person .person-images {
  height: 100%;
  width: 100%;
  display: flex;
}
@media (max-width:375px) {
.person .person-images{
  width: 100%;
  height: 100%;
}
}
/* High Loc */
.person .person-images .person-img-1 {
  height: 100%;
  width: 100%;
  background-image: url('../img/banner2/banner_highloc.jpg');
  background-position: 50%;
}

@media (max-width:375px) {
  .person .person-images .person-img-1{
    height: 812px;
   
  }
}

@media (max-width:768px) {
  .person .person-images .person-img-1{
    height: 812px;
   
  }
}

/* Henry */
.person .person-images .person-img-2 {
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: url('../img/banner2/banner_henry.jpg');
  background-position: 3px center;

}

@media (max-width:1680px) {
  .person .person-images .person-img-2{
  background-position: -154px center;
  }
}

@media (max-width: 1440px) {
  .person .person-images .person-img-2{

    background-position: -236px center;

  }
}

@media (max-width: 1024px) {
  .person .person-images .person-img-2{
    background-position: -443px center;
  }
}

@media (max-width: 768px){
  .person .person-images .person-img-2{
    background-position:-571px center;
  }
}

@media (max-width: 425px){
  .person .person-images .person-img-2{
    background-position:-745px center;
  }
}

@media (max-width:375px) {
  .person .person-images .person-img-2{
    height: 812px;
    background-position: -766px center;
  }
}



.person .slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.person .slider input {
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb {
  height: 1080px;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}


/* 線 */
.slider .drag-line {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}

@media (max-width:1680px) {
  .slider .drag-line{
    width: 0.1px;
    height: 1080px;    
  }
}


.slider .drag-line::before,
.slider .drag-line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 222px;
  background: #fff;
}
.slider .drag-line::before {
  top: 0;
}


/* 線（下面） */
.slider .drag-line::after {
  bottom: 0;
}



/* 按鈕 */
.slider .drag-line span {
  height: 42px;
  width: 42px;
  border: 3px solid #fff;
  position: absolute;
  top: 85%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width:375px) {
  .slider .drag-line span{
  display: none;
  }
}



.slider .drag-line span::before,
.slider .drag-line span::after {
  position: absolute;
  content: '';
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider .drag-line span::before {
  left: 40%;
  border-left-color: #fff;
}
.slider .drag-line span::after {
  left: 60%;
  border-top-color: #fff;
}

