// 讀取背景
$lodingcolor:#BF0404;
// 主色調
$maincolor: #F2B90F;
// 光碟主色調
$albumcolor-red : #D90416;
$albumcolor-darkblue : #024059;
$albumcolor-blue :#0439D9;
$maincolor-lightblue :#048ABF;
// 黑白
$white : white;
$black : black;

//網頁,ipad版文字字級
$webH1: 96px;
$webH2: 36px;
$webH3: 32px;
$webH4: 24px;
$webH5: 20px;
$webH6: 14px;

//手機版文字字級
$phoneH3: 20px;
$phoneH4: 17px;
$phoneH5: 14px;
$phoneH6: 12px;




//flex設置，自行取用，預設為center/center
@mixin flex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
};

//位移設置，自行取用，無預設值，需填入x,y值
@mixin move($x, $y) {
    transform: translate($x, $y);
};

//若有圖片是固定px，又需要圖片可以自行變小，可以考慮換成這個單位
//如有個div是450px * 450px 需要他可以自行縮放，可改寫成下列
//範例寫法：width:calc(450 * var(--pv)) ; height:calc(450 * var(--pv))

//建議可以改寫在ipad的版本內
:root{
    --pv: calc(100vw / 1920);
    font-size: calc(16px + 8 * (100vw - 320px) / 960);
}

//小螢幕版面設置
@mixin s-monitor{
    @media (max-width:1024px) {
        @content
    }
};

//pad版 phone面設置
@mixin phone {
    @media (max-width:768px) {
        @content
    }
};
@mixin phone-375 {
    @media (max-width:375px) {
        @content
    }
};

@mixin nav-icon{
    @media (max-width:1520px) {
        @content
    }
};

@mixin laptop {
    @media (max-width:1440px) {
        @content
    }
};

@mixin event {
    @media (max-width:1250px) {
        @content
    }
};

@mixin event-2 {
    @media (max-width:860px) {
        @content
    }
};
@mixin event-3 {
    @media (max-width:550px) {
        @content
    }
};

//上列版面設置用法參考：https://ithelp.ithome.com.tw/articles/10193702